<h3>Workshop realizzato in collaborazione con Gianfranco Castro</h3>
<h3>Lingua: italiano / Language: Italian only</h3>
<br />

<h2 class="row__title">Creare un applicativo gestionale con Vue e Vuetify &ndash; Sabato, 13 Aprile 2019</h2>

<div class="row row--2">
    <div class="row__column">
        <p>
            In questo workshop vedremo come progettare e creare un applicativo gestionale con Vue e Vuetify come
            framework per la UI/UX, sfruttando Material Design e ponendo le basi per un funzionamento responsive e
            mobile-first: esploreremo le best practice su come progettare le interfacce, organizzare il codice, eseguire
            i test in modo organizzato e automatico.<br/>
            <br/>
            Quindi si analizzerà come gestire i layout, i menu di navigazione, gestire form e i vari controlli di input;
            particolare attenzione verrà posta alla visualizzazione di dati tabellari, eseguire paginazioni e recupero
            di dati server-side.
        </p>
        <br/>

        <h3>Argomenti</h3>
        <p>
        <ul>
            <li>Introduzione a Vuetify</li>
            <li>Struttura di progetto</li>
            <li>Logiche di progettazione della UI/UX e strumenti per Material Design</li>
            <li>Funzionalità previste dall'applicativo</li>
            <li>Esplorazione UI
                <ul>
                    <li>Layouts</li>
                    <li>Navigation Menu</li>
                    <li>Toolbars</li>
                    <li>Forms</li>
                    <li>Inputs Controls</li>
                    <li>Cards</li>
                    <li>Dialog</li>
                    <li>Tables e Pagination</li>
                    <li>List</li>
                </ul>
            </li>
            <li>Visualizzazione di grafici e creazione basilare di Dashboard</li>
            <li>Gestire le comunicazioni HTTP con Axios</li>
            <li>Gestire le sessioni con JWT e Vuex</li>
            <li>Considerazione per il mobile e PWA</li>
            <li>Build e Deploy</li>
        </ul>
        </p>

        <a href="{{ site.data.tickets.url }}" class="button button--register">
            Registrati
        </a>
        <br/><br/>


        <h3>A chi è rivolto</h3>
        <p>

            Questo workshop è rivolto a coloro che già usano (anche a livello base) Vuejs e vogliono utilizzare un
            framework di riferimento per la gestione della UI/UX.
        </p>
        <br />

        <h3>Requisiti di partecipazione</h3>
        <p>
            Conoscenze base di HTML e Javascript, basi di Vue, utilizzo della shell, conoscenze basilari sull'utilizzo
            di API REST.
        </p>
        <br/>

        <h3>Informazioni utili</h3>
        <p>
            La durata del corso è di una giornata e si terrà Sabato 13 Aprile nella stessa location della conferenza.
            Per partecipare al workshop, in modo indipendente dal sistema operativo, vi servirà avere installato nodejs
            (>= 10.15 LTS), yarn, Vue CLI, Vue DevTools, un terminale e un buon editor come Visual Studio Code con le
            relative extension.<br/>
            Qualche giorno prima del corso verrà fornito un repository git a tutti i partecipanti, con il codice
            applicativo e le istruzioni per farlo funzionare.<br/>
            Ecco anche un <a href="http://www.corsovuejs.it/tutorial/" target="_blank">elenco di tutorial</a> di preparazione
            in modo da poter arrivare preparati e operativi al corso di sabato 13 aprile.
        </p>
        <br/>

        <h3>Programma</h3>
        <p>
        <table cellpadding="3">
            <tr>
                <td style="text-align: center">9:00</td>
                <td>-</td>
                <td style="text-align: center">9:30</td>
                <td>Registrazione</td>
            </tr>
            <tr>
                <td style="text-align: center">9:30</td>
                <td>-</td>
                <td>11:00</td>
                <td>Workshop</td>
            </tr>
            <tr>
                <td>11:00</td>
                <td>-</td>
                <td>11:20</td>
                <td>Coffee break</td>
            </tr>
            <tr>
                <td>11:20</td>
                <td>-</td>
                <td>13:00</td>
                <td>Workshop</td>
            </tr>
            <tr>
                <td>13:00</td>
                <td>-</td>
                <td>14:00</td>
                <td>Pranzo</td>
            </tr>
            <tr>
                <td>14:00</td>
                <td>-</td>
                <td>16:00</td>
                <td>Workshop</td>
            </tr>
            <tr>
                <td>16:00</td>
                <td>-</td>
                <td>16:20</td>
                <td>Coffee break</td>
            </tr>
            <tr>
                <td>16:20</td>
                <td>-</td>
                <td>18:30</td>
                <td>Workshop</td>
            </tr>
        </table>
        </p>
        <br>

        <h3>Sede</h3>
        <p>
            <strong class="row__title">Hotel San Marco</strong><br>
            Via Longhena, 42<br>
            37138 Verona — Italy<br>
            <a href="tel:045569011">045569011</a><br>
            <a href="tel:045572299">045572299</a><br>
            <a href="http://www.sanmarco.vr.it/index.cfm/it/">http://www.sanmarco.vr.it/</a><br>
            L'hotel offre tariffe scontate ai partecipanti al workshop, sia per camere singole che doppie.
        </p>

        <br/> <br/>
        <a href="{{ site.data.tickets.url }}" class="button button--register">
            Acquista il biglietto!
        </a>
    </div>
    <div class="row__column">
        <div class="talk__speakers">
          <span class="talk__speaker-name">
              Gianfranco Castro
          </span>
        </div>
        <p>
            <img src="{{ site.baseurl }}/img/{{ site.data.conference.slug }}/training/gianfranco-castro.jpg"
                 alt="Gianfranco Castro">
            <br /><br />
            SEO Manager @ Condé Nast<br/>
            Full Stack Web Developer<br/>
            Da sempre appassionato di Web Development, SEO e Digital Marketing, docente di numerosi corsi in ambito
            sviluppo Web e Mobile.<br/>
            Background da sviluppatore, dai lontani tempi del Commodore 64 e Amiga 500 e mentre studia ragioneria
            capisce che la sua passione è l’informatica e il web, passioni che lo portano ad affrontare il percorso
            universitario in ingegneria informatica; qui si rafforza la passione per lo sviluppo software, i database e
            IT Project Management.<br/>
            Ad oggi, focalizzato su AWS, Python, Laravel, Node.js e lo sviluppo con Vue e Angular.<br/>
        </p>
    </div>
</div>
