<div id="alert" class="alert">
  <div class="alert__container">
    <div class="alert__title">
      CORONAVIRUS OUTBREAK IN ITALY<br/>
      UPDATE ON VUEDAY 2020
    </div>
    <div class="alert__text">
      <h3>
        vueday has been postponed to a new date, most likely in September 2020.
      </h3>
      <p>
        This decision is related to the coronavirus - covid-19 outbreak, and these are the factors we took into account.
      </p>
      <p>
        The virus is still spreading, not only in Italy. And even if we think (and hope!) that the situation will probably
        stabilise in a month from now, we still prefer to make the most responsible and precautionary choice. What the
        local and sanitary authorities are asking everyone is to help contain the spreading of the virus, trying to limit
        travels and gatherings of people.
      </p>
      <p>
        We believe that a conference like vueday should be a chance for people to meet and enjoy, learn from one another,
        share ideas and experiences. We are afraid that the concerns about coronavirus could affect the general atmosphere
        and the event experience.
      </p>
      <p>
        Many countries are limiting the connections with Italy, and that would make difficult for both speakers and
        attendees to take part at the event.
      </p>
      <p>
        We preferred to reschedule as in advance as possible, in order to enable all the people involved to change their
        travel plans (if already done) or to not make them.
      </p>
      <p>
        Despite the inconvenience that the postponement of the conference may cause, we believe it is the right thing to
        do, and we hope you'll agree. Thanks for your comprehension!
      </p>
      <p></p>
      <p>
        To anyone who bought a ticket for the event (applies to conference and workshops as well):
      <ul>
        <li>
          Ticket will be valid for the new date of the conference, which we will let you know as soon as possible.
        </li>
        <li>
          If unable to attend on the new date, we will return a voucher valid to attend another GrUSP event.
        </li>
      </ul>
      </p>
    </div>
    <a href="#" id="close">Close</a>
  </div>
</div>

<script type="text/javascript">
    document.getElementById('close').onclick = function close(e) {
        e.preventDefault();
        document.getElementById('alert').style = "display: none;";
    }
</script>
